<div class="container">
    <div class="row center">
        <button type="button" class="btn btn-info btnBG"><p class="btnTxt"><strong>Dodaj drzavu</strong></p></button>
        <button type="button" class="btn btn-info btn2BG "><p class="btnTxt"><strong>Prikazi gradove</strong></p></button>
    </div>          
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Oznaka</th>
              <th>Naziv</th>
              <th>Akcije<span class="glyphicon glyphicon-flash"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>oznk</td>
              <td>nzv</td>
              <td><span id="zoom" class="glyphicon glyphicon-pencil"></span><span id="zoom" class="glyphicon glyphicon-trash"></span></td>
            </tr>
          </tbody>
        </table>
      </div>