

<div class="div">
  <form >
    <h2 style="margin-left: 20px;margin-bottom: 20px">Nalog za isplatu :</h2>
    <div class="form-group row" style="display: inline-block;margin-left: 20px">

      <label>Isplatilac :</label>
      <input style="width: 420px;height: 35px" class="form-control margin"  disabled="true">

      <label>Svrha isplate :</label>
      <input style="width: 420px;height: 35px" class="form-control margin"  disabled="true">

      <label>Primalac :</label>
      <input style="width: 420px;height: 35px" class="form-control margin"  disabled="true">


      <label>Sifra placanja :</label>
      <input style="width: 150px;" class="form-control margin"  disabled="true">


      <label style="margin-top: 5px">Valuta :</label>
      <input style="width: 150px;" class="form-control margin"  disabled="true">


      <label style="margin-top: 5px">Iznos :</label>
      <input style="width: 420px" class="form-control margin"  disabled="true">


      <br>
      <br>


      <label>Racun isplatioca :</label>
      <input style="width: 420px" class="form-control margin"  disabled="true">


      <label style="margin-top: 5px">Model :</label>
      <input style="width: 150px;" class="form-control margin"  disabled="true">

      <label style="margin-top: 5px;">Poziv na broj(zaduzenje) :</label>
      <input style="width: 420px;" class="form-control margin"  disabled="true">


      <br>
      <br>

      
             
      <div style="text-align: center;margin-top: 20px">
        <button class="btn btn-success" style="height: 50px;width: 100%; border-radius: 12px;margin-bottom: 20px"
                >Potvrdi
        </button>
      </div>
    </div>
  </form>
</div>