<nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['']">Bank NAME</a>
      </div>
      <ul class="nav navbar-nav">
            <li class="zoom"><a href="#">Pocetna</a></li>
            <li class="zoom"><a [routerLink]="['states']" style='text-decoration:none;'>States</a></li>
            <li class="zoom"><a href="#">Gradovi</a></li>
            <li class="zoom"><a [routerLink]="['legalentity']" style='text-decoration:none;'>Legal entity</a></li>
            <li class="zoom"><a [routerLink]="['individual']" style='text-decoration:none;'>Individual</a></li>
            <!--<a onclick="location.href='/navbar/individual'">Fizicka lica</a>-->
            <li class="zoom"><a href="#">Racuni</a></li>
            <li class="zoom"><a href="#">Valute</a></li>
            <li class="zoom"><a href="#">Kursna lista</a></li>
            <li class="zoom"><a href="#">Delatnosti</a></li>
            <li class="zoom"><a href="#">Kliring</a></li>
            <li class="zoom"><a href="#">RTGS</a></li>
      </ul> 
      <ul class="nav navbar-nav navbar-right">
        <ng-container  *ngIf="user!==null;else elseContent">
        <li><a (click)="logout()">Logout</a></li>
        </ng-container>
        <ng-template #elseContent >
        <li ><a [routerLink]="['registration']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li ><a [routerLink]="['login']">Login</a></li>
      </ng-template >
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>