
<div style="text-align: center;margin-top: 30px">
<button (click)="uplata()"><a [routerLink]="['uplata']" style='text-decoration:none;'>Nalog za uplatu</a></button>
<button (click)="isplata()"><a [routerLink]="['isplata']" style='text-decoration:none;'>Nalog za isplatu</a></button>
<button (click)="naplata()"><a [routerLink]="['naplata']" style='text-decoration:none;'>Nalog za naplatu</a></button>
<button (click)="prenos()"><a [routerLink]="['prenos']" style='text-decoration:none;'>Nalog za prenos</a></button>

</div>

<router-outlet></router-outlet>
