:host {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #010307;
    }
  
    li {
      float: left;
    }
  
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px 20px;
      text-decoration: none;
    }
  
    li a:hover {
      background-color: #b3d1ff;
      cursor: pointer;
    }
  
    button {
     // border-radius: 12px;
      height: 256px;
      width: 256px;
      font-size: 14px;
      background-image: url("http://www.iconarchive.com/download/i95360/custom-icon-design/flatastic-5/Sales-by-payment-method.ico");
      background-color: white; /* Green */
      color: black;
      border: 0px solid #0d52b9;
    }
  
    button:hover {
      background-image: url("https://cdn4.iconfinder.com/data/icons/pretty_office_3/256/Sales-by-Payment-Method-rep.png");
      background-color: white; /* Green */
      color: white;

    }
  
    .btnTxt {
      align-content: center;
      padding-bottom:57%; 
  }
  }