
<div style="text-align: center;margin-top: 30px">



<button (click)="uplata()"><a [routerLink]="['uplata/:type']" style='text-decoration:none;'>Nalog za uplatu</a></button>
<button (click)="isplata()"><a [routerLink]="['isplata/:type']" style='text-decoration:none;'>Nalog za isplatu</a></button>
<button (click)="naplata()"><a [routerLink]="['naplata/:type']" style='text-decoration:none;'>Nalog za naplatu</a></button>
<button (click)="prenos()"><a [routerLink]="['prenos/:type']" style='text-decoration:none;'>Nalog za prenos</a></button>

</div>

<router-outlet></router-outlet>
