<div class="container">   
  <div class="row center">
     <button type="button"  class="btn btn-info btnBG" data-toggle="modal" data-target="#myModal1" ><p class="btnTxt">Dodaj listu</p></button>
     <div class="dropdown dropdownDIV">
        <button class="btn btn-primary dropdown-toggle dropdownBTN" type="button" data-toggle="dropdown">Izaberi listu
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Dinarska</a></li>
          <li><a href="#">Euro</a></li>
          <li><a href="#">Dolarska</a></li>
        </ul>
      </div>
 </div> 
 </div>
 
<div class="container">
	<div class="row">
		<div class="table-responsive">
            <table id="main-table" class="table exotic-table">
                <thead>
                    <tr class="text-center">
                        <th>Redni br.</th>
                        <th>Valuta</th>
                        <th>Kupovni kurs</th>
                        <th>Srednji kurs</th>
                        <th>Prodajni kurs</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>1</td>
                        <td>Dinar <span class="glyphicon glyphicon-arrow-right arrowRight"></span> Euro</td>
                        <td class="buy">126.70</td>
                        <td class="middle">120.20</td>
                        <td class="sell">116.45</td>
                    </tr>

                    <tr>
                      <td>2</td>
                      <td>Dinar <span class="glyphicon glyphicon-arrow-right arrowRight"></span> Funta</td>
                      <td class="buy">126.70</td>
                      <td class="middle">120.20</td>
                      <td class="sell">116.45</td>
                  </tr>

                  <tr>
                    <td>3</td>
                    <td>Dinar <span class="glyphicon glyphicon-arrow-right arrowRight"></span> Dolar</td>
                    <td class="buy">126.70</td>
                    <td class="middle">120.20</td>
                    <td class="sell">116.45</td>
                </tr>
                    
                </tbody>
            </table>
	</div>
</div>