<div class="container">
  <div class="row center">
      <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal"  ><p class="btnTxt"><strong>Add legal entity</strong></p></button>
  </div>          
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Ime</th>
            <th>Skraceno ime</th>
            <th>Email</th>
            <th>Fax</th>
            <th>Lokacija</th>
            <th>Adresa</th>
            <th>MBR</th>
            <th>JMBG</th>
            <th>Adresa za isporuku</th>
            <th>Broj telefona</th>
            <th>Aktivnost</th>
            <th>Action<span class="glyphicon glyphicon-flash"></span></th>
          </tr>
        </thead>
        <tbody *ngFor="let legale of legalentitys">
          <tr>
            <td>{{legale.name}}</td>
            <td>{{legale.shortName}}</td>
            <td>{{legale.email}}</td>
            <td>{{legale.fax}}</td>
            <td>{{legale.location}}</td>
            <td>{{legale.address}}</td>
            <td>{{legale.mbr}}</td>
            <td>{{legale.jmbg}}</td>
            <td>{{legale.deliveryAddress}}</td>
            <td>{{legale.phonenumber}}</td>
            <td>{{legale.activity.name}}</td>
            



            <td><span id="zoom" data-toggle="modal" data-target="#myModaledit" (click)="findlegalentity(legale.id)"  class="glyphicon glyphicon-pencil"></span><span id="zoom" (click)="deleteLegalEntity(legale.id)" class="glyphicon glyphicon-trash"></span></td>
          </tr>



        </tbody>
      </table>
    </div>





    <div class="modal" tabindex="-1" id="myModal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add individual</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <label class="col-sm-4">Ime:</label>
              <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityadd.name" >                        
          </div>
          <br>
  
        <div class="row">
            <label class="col-sm-4">Skraceno ime:</label>
            <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityadd.shortName" >                        
        </div>
        <br>
  
        <div class="row">
          <label class="col-sm-4">Email:</label>
          <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityadd.email" >                        
        </div>
        <br>
  
        <div class="row">
          <label class="col-sm-4">Fax:</label>
          <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityadd.fax" >                        
        </div>
        <br>
        
        <div class="row">
          <label class="col-sm-4">Lokacija:</label>
          <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityadd.location" >                        
        </div>  
        <br>
  
        <div class="row">
          <label class="col-sm-4">Adresa:</label>
          <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityadd.address" >                        
        </div>
        <br>
  
        <div class="row">
          <label class="col-sm-4">MBR:</label>
          <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityadd.mbr" >                        
        </div>
        <br>
  
        <div class="row">
          <label class="col-sm-4">JMBG:</label>
          <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityadd.jmbg" >                        
        </div>
        <br>
  
        <div class="row">
          <label class="col-sm-4">Adresa za isporuku:</label>
          <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityadd.deliveryAddress" >                        
        </div>
        <br>
  
        <div class="row">
          <label class="col-sm-4">Broj telefona:</label>
          <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityadd.phonenumber" >                        
        </div>
        <br>
        <div class="row">
          <label class="col-sm-4">Aktivnost:</label>
          <select id="type" (change)="selectChangeHandler($event)" name="type" style="height:26px; width:175px; " class="col-sm-5">
            <option class="option0" style="height: 30px;" value="0" selected hidden>Choose ...</option>
            <option *ngFor="let activity of activities" style="height: 30px;" value={{activity.id}}>{{activity?.name}}</option>
        </select>  
        </div>
        


          </div>

          <div class="modal-footer">  
            <button type="button" class="btn btn-primary" (click)="addLegalentity()"  data-dismiss="modal">Ok</button>
          </div>
        </div>
     </div>
  </div>







  <div class="modal" tabindex="-1" id="myModaledit" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add individual</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        <div class="row">
            <label class="col-sm-4">Name:</label>
            <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityedit.name" >                        
        </div>
        <br>

      <div class="row">
          <label class="col-sm-4">Short name:</label>
          <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityedit.shortName" >                        
      </div>
      <br>

      <div class="row">
        <label class="col-sm-4">Email:</label>
        <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityedit.email" >                        
      </div>
      <br>

      <div class="row">
        <label class="col-sm-4">Fax:</label>
        <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityedit.fax" >                        
      </div>
      <br>
      
      <div class="row">
        <label class="col-sm-4">Location:</label>
        <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityedit.location" >                        
      </div>  
      <br>

      <div class="row">
        <label class="col-sm-4">Address:</label>
        <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityedit.address" >                        
      </div>
      <br>

      <div class="row">
        <label class="col-sm-4">MBR:</label>
        <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityedit.mbr" >                        
      </div>
      <br>

      <div class="row">
        <label class="col-sm-4">JMBG:</label>
        <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityedit.jmbg" >                        
      </div>
      <br>

      <div class="row">
        <label class="col-sm-4">Delivery address:</label>
        <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityedit.deliveryAddress" >                        
      </div>
      <br>

      <div class="row">
        <label class="col-sm-4">Phone number:</label>
        <input class="col-sm-5" type="text" name="fivebads" [(ngModel)]="legalentityedit.phonenumber" >                        
      </div>
      <br>

      <div class="row">
        <label class="col-sm-4">Aktivnost:</label>
        <select id="type" (change)="selectChangeHandler1($event)" name="type" style="height:26px; width:175px; " class="col-sm-5">
          <option class="option0" style="height: 30px;" value="0" selected hidden>Choose ...</option>
          <option *ngFor="let activity of activities" style="height: 30px;" value={{activity.id}}>{{activity?.name}}</option>
      </select>  
      </div>

            
        </div>

        <div class="modal-footer">  
          <button type="button" class="btn btn-primary" (click)="editLegalEntity()"  data-dismiss="modal">Ok</button>
        </div>
      </div>
   </div>
</div>